Sentimos a sua falta

Olá {{ name }}, tudo bem com você?
Percebemos que você não aposta a uns dias, e estamos sentindo saudades :(
Você pode estar perdendo a sua melhor chance de ganhar uma bolada extra, e poder comprar aquele carro ou casa dos seus sonhos
Te convidamos a fazer algumas apostinhas, bora?
Abraços a distancia.
Equipe TGL


