Recuperaçào de senha

Uma solicitação de recuperação de senha foi realizada para o e-mail {{ email }}.
Caso você não seja o autor, seria legal trocar a senha senha para garantir a segurança e integridade de sua conta

Para continuar com a recuperação da senha, utilize o token {{ token }}.
