<strong>Novas apostas</strong>

<p style="align: center">Olá {{ name }}, tudo belê?</p>
<p style="align: center">Seguinte, só tamo passando aqui pra mostrar as suas novas apostas, da uma olhadinha: </p>
<p style="align: center">{{ bets }}</p>
<p style="align: center">É isso, qualquer coisa é só chamar a gente, ok?</p>
<p style="align: center">Abraços a distancia.</p>
<p style="align: rith">Equipe TGL</p>


