Boas vindas

Olá {{ name }}, tudo belê?
Seguinte, só tamo passando aqui pra mostrar as suas novas apostas, da uma olhadinha:
{{ bets }}
É isso, qualquer coisa é só chamar a gente, ok?
Abraços a distancia.
Equipe TGL


